run = "git pull && PHPRC=./php.ini php -S 0.0.0.0:8000 -t ."

entrypoint = "index.php"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "git pull && PHPRC=./php.ini php -S 0.0.0.0:8000 -t ."]